@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

a {
    text-decoration: none;
}

header {
    background-color: #CE0E2D;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.title {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: white;
    font-family: Rubik;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: -0.025em;
}

.menu-bl {
    background-color: #bd223b;
}

.content {
    display: flex;
}

.menu-bl-content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.menu-box {
    display: flex;
    flex-direction: row;
}

.box-right {

    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.box-left {
    justify-content: flex-start;
    align-items: center;
}

.reg-measure {
    border-left: 3px solid #911d30;
    height: 25px;
}

.reg-btn, .account-btn {
    width: 70px;
    height: 30px;
    text-align: center;
    /*background-color: #911d30;*/
    background-color: transparent;
    border: none;
    border-radius: 45px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

    .reg-btn:hover, .account-btn:hover, .reg-btn:active, .account-btn:active {
        cursor: pointer;
    }

.switch-bl {
    margin-top:20px;
    display:flex
}

.switch-content {
    margin-left: 5%;
    font-size: 1em;
    font-family: Roboto;
    font-weight: 700;
    line-height: 2em;
    color:gray;
    border-radius: 25px;
    background: #edf2f0;
    position: relative;
    display: block;
    float: left;
}

    .switch-content .fileSect, .switch-content .logSect, .switch-content .activitySect {
        cursor: pointer;
        position: relative;
        display: block;
        float: left;
        -webkit-transition: 300ms ease-out;
        -moz-transition: 300ms ease-out;
        transition: 300ms ease-out;
        padding: 0 1em;
    }
.selector {
    text-align: center;
    position: absolute;
    width: 0;
    box-sizing: border-box;
    -webkit-transition: 300ms ease-out;
    -moz-transition: 300ms ease-out;
    transition: 300ms ease-out;
    border-radius: 25px;
    color: white;
    -moz-box-shadow: 0px 2px 13px 0px #9b9b9b;
    -webkit-box-shadow: 0px 2px 13px 0px #9b9b9b;
    -o-box-shadow: 0px 2px 13px 0px #9b9b9b;
    box-shadow: 0px 2px 13px 0px #9b9b9b;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=180, Strength=13);
}


.hidden {
    display: none;
}

.account-info p {
    font-family: Rubik;
    font-weight: 700;
    font-size: 15px;
    color: white
}



.file-list-bl-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-element, .list-titles {
    margin: 10px auto;
    align-items: center;
    display: flex;
    background: #edf2f0;
    border-radius: 25px;
    justify-content: space-between;
    width: 95%;
    padding: 20px;
}

.list-element-unactive {
    background: #c3c9c7;
    opacity:45%;
}


.list-element-left, .list-titles-left {
    display: grid;
    grid-template-columns: 70px 50px 70px auto;
    column-gap: 20px;
    justify-content: start;
    text-align: left;
    font-size: 12px;
}

.log-element-left, .log-list-titles-left {
    grid-template-columns: 100px 100px auto;
}


.list-element-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.list-element-left p, .list-titles-left p {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: gray;
}

.list-titles-left p {
    font-weight: 500;
}

.list-element-left p {
    overflow-wrap: break-word;
    max-width: 75px;
}

.list-titles {
    background: none;
    margin-bottom: 0px;
    padding-bottom: 5px;
}



    .download-icon button, .upload-icon button, .eye-icon button, .eye-crossed-icon button, .trash-bin-icon button {
        color: transparent;
        background-color: transparent;
        border: none;
    }

button svg:hover, button svg:active {
    transform: scale(1.2);
    cursor:pointer;
}



.reg-bl {
    text-align: center;
    margin-top: 20px;
}

.reg-bl-content {
    width: 95%;
    border-radius: 25px;
    background: rgb(237,242,240);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    text-align: center;
}

.register-field {
    text-align: center;
}

    .register-field p {
        margin-top: 15px;
    }

.register-btn {
    text-align: center;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

    .register-btn button {
        background-color: #911d30;
        width: 150px;
        height: 50px;
    }

        .register-btn button:hover, .register-btn button:active {
            background: white;
            box-shadow: 0px 0px 5px 1px grey;
            cursor: pointer;
            color: #911d30;
        }

.register-field p {
    padding: 10px 10px 10px 10px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    background: -webkit-linear-gradient(#CE0E2D, #911d30);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.title-reg {
    padding-top: 20px;
    font-size: 40px;
    background: -webkit-linear-gradient(#CE0E2D, #911d30);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-family: Rubik;
    line-height: 1.2;
}

.reg-request {
    margin-top: 15px;
}

    .reg-request p {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        color: gray;
        font-size: 18px;
    }

    .reg-request a:hover {
        cursor: pointer;
    }

.register-field input[type="text"],
.register-field input[type="password"] {
    width: 50%;
    height: 30px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    color: #3d3d3d
}

.reg-request a, .message-fail, .message-success {
    background: -webkit-linear-gradient(#CE0E2D, #911d30);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-family: Roboto;
}


.message-success {
    background: -webkit-linear-gradient(#46eb34, #37c427);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.messages{
    display:flex;
    justify-content:center;
    margin-top:15px;

}
